<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Function Leaderboard - GitDetective</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{gitdetective_static_url}}assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{{gitdetective_static_url}}assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="{{gitdetective_static_url}}assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="{{gitdetective_static_url}}assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
          rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="{{gitdetective_static_url}}assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{gitdetective_static_url}}css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{{gitdetective_static_url}}css/colors/purple-dark.css" id="theme" rel="stylesheet">
    <link href="{{gitdetective_static_url}}stylesheet.css" rel="stylesheet">
    <script src="{{gitdetective_static_url}}moment.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border logo-center">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{gitdetective_url}}">
                    <!-- Logo icon -->
                    <span style="font-family: 'Reza Zulmi Sans'; font-size: 36px; color: white;">GitDetective</span>
                    <!--End Logo icon --></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                            href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <li onclick="$('#app-search-data').focus();" class="nav-item hidden-sm-down search-box">
                        <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i
                                class="ti-search"></i></a>
                        <form class="app-search" id="app-search">
                            <input id="app-search-data" type="text" class="form-control" placeholder="username or username/project"
                                   autofocus>
                            <a class="srh-btn"><i class="ti-close"></i></a></form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar" align="center">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav" style="color: white; opacity: 0.8">
                    Find the use and users of open-source code
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <div class="col-md-12 col-xlg-12">
                    <!-- Row -->
                    <div class="row">
                        <!-- Column -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title m-b-0">Most referenced functions</h4>
                                </div>
                                <div class="card-body collapse show">
                                    <div class="table-responsive">
                                        <table class="table product-overview">
                                            <thead>
                                            <tr>
                                                <th>Qualified name</th>
                                                <th>Total references</th>
                                            </tr>
                                            </thead>
                                            <tbody id="function_reference_leaderboard">
                                            {{#each function_reference_leaderboard}}
                                                <tr>
                                                    <td style="max-width: 400px">
                                                        {{#if this.usernameAndProjectName}}
                                                            <h5><a href="{{gitdetective_url}}{{this.usernameAndProjectName}}">{{this.qualifiedName}}</a></h5>
                                                        {{else}}
                                                            <h5>{{this.qualifiedName}}</h5>
                                                        {{/if}}
                                                    </td>
                                                    <td>
                                                        <span class="label label-primary">{{this.prettyReferenceCount}}</span>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                    </div>
                </div>
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer" style="background-color: #272c33">
            <b>
                <div style="float: left">
                    <a href="https://github.com/codebrig/gitdetective"><i
                            style="margin-top: -5px; font-size: 30px; color: #99abb4" class="fa fa-github"></i></a>
                </div>
                © 2020 <a href="https://codebrig.com">CodeBrig, LLC</a> /
                Powered by: <a href="https://grakn.ai">Grakn</a> &amp; <a href="https://kythe.io">Kythe</a> /
                <a href="https://github.com/CodeBrig/GitDetective/issues/new">Report issue</a>
                <div style="float: right">
                    ver. {{gitdetective_version}}
                </div>
            </b>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{{gitdetective_static_url}}assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{gitdetective_static_url}}assets/plugins/popper/popper.min.js"></script>
<script src="{{gitdetective_static_url}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{gitdetective_static_url}}js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="{{gitdetective_static_url}}js/waves.js"></script>
<!--Menu sidebar -->
<script src="{{gitdetective_static_url}}js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="{{gitdetective_static_url}}assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="{{gitdetective_static_url}}assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="{{gitdetective_static_url}}assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="{{gitdetective_static_url}}js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- chartist chart -->
<!-- <script src="{{gitdetective_static_url}}assets/plugins/chartist-js/dist/chartist.min.js"></script> -->
<!-- <script src="{{gitdetective_static_url}}assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script> -->
<!--c3 JavaScript -->
<script src="{{gitdetective_static_url}}assets/plugins/d3/d3.min.js"></script>
<script src="{{gitdetective_static_url}}assets/plugins/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<!-- <script src="{{gitdetective_static_url}}js/dashboard6.js"></script> -->
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="{{gitdetective_static_url}}assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
<script>
    //buttons
    $('#app-search').submit(function (event) {
        window.location = '{{gitdetective_url}}' + document.getElementById('app-search-data').value
        event.preventDefault()
    })
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117514928-1"></script>
<script>
    window.dataLayer = window.dataLayer || []

    function gtag () {
        dataLayer.push(arguments)
    }

    gtag('js', new Date())
    gtag('config', 'UA-117514928-1')
</script>
</body>
</html>
